stack_name: "{{ lambda_id }}"
version: 2
services:
  lambda:
    scaling:
      min: 0
      max: 25
      initial: 0
      on_alert:
        {{ lambda_id }}_jobs_small: "+5"
        {{ lambda_id }}_jobs_big: "*2"
        {{ lambda_id }}_no_jobs: "-1"
    image: "{{ image }}"
alerts:
  {{ lambda_id }}_jobs_small:
    {{ lambda_id }}: "==1"
  {{ lambda_id }}_jobs_big:
    {{ lambda_id }}: ">1"
  {{ lambda_id }}_no_jobs:
    {{ lambda_id }}: "<1"
metrics:
  - name: "{{ lambda_id }}"
    interval: 5
